.jumbotron {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.jumbotron > .container, #display {
    height: 100%;
}

#display {
    justify-content: center;
}

#display, h2 {
    text-align: center;
}

.section {
    padding-top: 25px;
}

.section-header {
    margin-bottom: 25px;
}

#about, #contact {
    background-color: #DDD;
}

#my-photo {
    width: 50%;
}

.portfolio-image {
    width: 100%;
}

/* https://jsfiddle.net/govdqd8y/ */
.portfolio-item {
    position: relative;
    margin-bottom: 30px;
}

.portfolio-info-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: rgba(36, 62, 206, 0.6); */
    /* color: #fff; */
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.portfolio-item:hover .portfolio-info-layer {
    visibility: visible;
    opacity: 1;
}

.portfolio-info {
    transition: .2s;
    transform: translateY(1em);
}

.portfolio-item:hover .portfolio-info {
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-image {
    opacity: 0.25;
}