body {
    text-align: center;
}

.jumbotron {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image:
        linear-gradient(
            rgba(238, 238, 231, 0), 
            rgba(36, 46, 53, 1)
        ),
        url(https://upload.wikimedia.org/wikipedia/commons/9/99/SpaceNeedleQAHill.jpg);
    background-size: cover;
    background-position: center;
}

.jumbotron > .container, #display {
    height: 100%;
}

#display {
    justify-content: center;
    color: #242E35;
}

#display > h1, #display > p {
    background-color: rgba(255, 255, 255, 0.8);
    /* margin-left: 20%;
    margin-right: 20%; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.sticky-top {
    background-color: #242E35;
}

.navbar-brand, .navbar-brand:hover {
    color: #EEEEE7;
}

.nav-item {
    color: #EEEEE7;
}

.nav-item:hover {
    cursor: pointer;
    border-bottom: 3px solid #4A7B6F;
}

.active {
    border-bottom: 3px solid #4A7B6F;
}

#about-title {
    background-color: #9EAEB3;
    color: #EEEEE7;
    padding-top: 100px;
    padding-bottom: 100px;
}

#about-title h2 {
    margin-bottom: 30px;
}

#portfolio-title {
    background-color: #EEEEE7;
    color: #4A7B6F;
    padding-top: 100px;
    padding-bottom: 100px;
}

#portfolio {
    padding-top: 30px;
    background-color: #CCDDDD
}

.portfolio-image {
    width: 100%;
}

/* https://jsfiddle.net/govdqd8y/ */
.portfolio-item {
    position: relative;
    margin-bottom: 30px;
}

.portfolio-info-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(204, 221, 221, 0.75);
    color: #242E35;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.portfolio-item:hover .portfolio-info-layer {
    visibility: visible;
    opacity: 1;
}

.portfolio-info {
    transition: .2s;
    transform: translateY(1em);
}

.portfolio-info > h4 {
    color: #4A7B6F
}

.portfolio-btn {
    color: #4A7B6F;
    padding: 0;
    padding-left: 4px;
    padding-right: 4px;
    background-color: transparent;
    border-color: transparent;
}

.portfolio-btn:hover {
    color: #EEEEE7;
    background-color: #4A7B6F;
    border-color: transparent;
}

.portfolio-item:hover .portfolio-info {
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-image {
    opacity: 0.5;
}

#contact-title {
    background-color: #EEEEE7;
    color: #4A7B6F;
    padding-top: 100px;
    padding-bottom: 100px;
}

#contact {
    padding-top: 30px;
    padding-bottom: 30px;
}

#form-header {
    color: #4A7B6F;
}

.form-group {
    margin-bottom: 0;
}

.form-control {
    border-radius: 0;
}

#name-input {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#message-input {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 30px;
}

#submit-btn {
    color: #4A7B6F;
    background-color: #FFF;
    border-color: #4A7B6F;
}

#submit-btn:hover {
    color: #FFF;
    background-color: #4A7B6F;
    border-color: #FFF;
}

#contact-social {
    background-color: #242E35;
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact-social a {
    color: #EEEEE7;
    background-color: #4A7B6F;
    border-color: #4A7B6F;
}

#contact-social a:hover {
    color: #4A7B6F;
    background-color: #242E35;
}

.fa-paper-plane, .fa-linkedin, .fa-github-square {
    padding-right: 6px;
}
