body {
    text-align: center;
}

.jumbotron {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image:
        linear-gradient(
            rgba(238, 238, 231, 0), 
            rgba(36, 46, 53, 1)
        ),
        url(https://upload.wikimedia.org/wikipedia/commons/9/99/SpaceNeedleQAHill.jpg);
    background-size: cover;
    background-position: center;
}

.jumbotron > .container, #display {
    height: 100%;
}

#display {
    justify-content: center;
    color: #242E35;
}

#display > h1, #display > p {
    background-color: rgba(255, 255, 255, 0.8);
    /* margin-left: 20%;
    margin-right: 20%; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.sticky-top {
    background-color: #242E35;
}

.navbar-brand, .navbar-brand:hover {
    color: #EEEEE7;
}

.nav-item {
    color: #EEEEE7;
}

.nav-item:hover {
    cursor: pointer;
}

.active {
    /* color: #4A7B6F; */
    border-bottom: 3px solid #4A7B6F;
}

#about {
    background-color: #9EAEB3;
    color: #EEEEE7;
    padding-top: 100px;
    padding-bottom: 100px;
}

#about h2 {
    margin-bottom: 30px;
}

.portfolio-image {
    width: 100%;
}

/* https://jsfiddle.net/govdqd8y/ */
.portfolio-item {
    position: relative;
    margin-bottom: 30px;
}

.portfolio-info-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.75);
    /* color: #fff; */
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.portfolio-item:hover .portfolio-info-layer {
    visibility: visible;
    opacity: 1;
}

.portfolio-info {
    transition: .2s;
    transform: translateY(1em);
}

.portfolio-item:hover .portfolio-info {
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-image {
    opacity: 0.5;
}